html, body { 
  height: 100%; 
  margin: 0;  
}
body { 
  display: block; 
  align-items:center; 
  justify-content: center; 
  background: white;
  overflow: hidden; 
}


h1{
	font-size:60px; 
	color:red; 
	font-family:verdana; 
	text-align:center;
}

p{
	font-size:40px;
}

